<div id="contact"> </div>
<div class="section contact">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Contact </h2>
                <div class="line"> </div>
                <p>TODO</p>
                <ul>
                    <li>
                        <a href="https://www.instagram.com/craigreedwilliams/"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/craigreedwilliams"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/craigreedwilliams"><i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/craigreedwilliams"><i class="fa fa-github-square fa-5x" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="mailto:craigreedwilliams@gmail.com"><i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>