<div id="documents"> </div>
<div class="section documents">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Documents </h2>
                <div class="line"> </div>
                <p>TODO</p>
                <ul>
                    <li>
                        <p>Cover-letter</p>
                        <a href="text_documents/test_1.txt" download><i class="fa fa-file-o fa-5x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <p>Resume</p>
                        <a href="text_documents/test_2.txt" download><i class="fa fa-file-o fa-5x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <p>References</p>
                        <a href="text_documents/test_3.txt" download><i class="fa fa-file-o fa-5x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>