<head>

    <meta http-equiv="Content-Language" content="en-us">
    <title> Craig Reed Williams </title>

    <link rel="stylesheet" type="text/css" href="style.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript" src="instafeed.js"></script>

    <script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'frenchbrittany',
        clientId: '612910f282ff4cca898fa0ae8adead07'
    });
    feed.run();
</script>

<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>
</head>