<div id="imprint"> </div>
<div class="section imprint">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Legal Notice / Imprint </h2>
                <div class="line"> </div>
                <p>
                    <ul>
                        <li>
                            <p class="my-item">Craig Reed Williams<br>
                                <span class="my-item-sub">Author</span></p>
                        </li>
                        <li>
                            <p class="my-item">craigreedwilliams@gmail.com<br>
                                <span class="my-item-sub">Email</span></p>
                        </li>
                        <li>
                            <p class="my-item">&copy; 2017 Craig Reed Williams<br>
                                <span class="my-item-sub">Copyright</span></p>
                        </li>
                        <li>
                            <p class="my-item">Privacy Privacy Policy<br>
                                <span class="my-item-sub">TODO</span></p>
                        </li>
                        <li>
                            <p class="my-item"><a class="my-link" href="https://www.google.com/analytics/terms/en.html">Google Analytics</a><br>
                                <span class="my-item-sub">Disclaimer</span></p>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>