<div id="legal"> </div>
<div class="section legal">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Legal Notice </h2>
                <div class="line"> </div>
                <p>
                    <a href="mailto:craigreedwilliams@gmail.com"><i class="fa fa-gavel fa-5x" aria-hidden="true"></i></a>
                    <!--<ul>
                        <li>
                            <p class="my-item">Craig Reed Williams<br>
                                <span class="my-item-sub">Author</span></p>
                        </li>
                        <li>
                            <p class="my-item">craigreedwilliams@gmail.com<br>
                                <span class="my-item-sub">Email</span></p>
                        </li>
                        <li>
                            <p class="my-item">&copy; 2017 Craig Reed Williams<br>
                                <span class="my-item-sub">Copyright</span></p>
                        </li>
                        <li>
                            <p class="my-item">Privacy Privacy Policy<br>
                                <span class="my-item-sub">TODO</span></p>
                        </li>
                        <li>
                            <p class="my-item"><a class="my-link" href="https://www.google.com/analytics/terms/en.html">Google Analytics</a><br>
                                <span class="my-item-sub">Disclaimer</span></p>
                        </li>
                    </ul>-->
                </p>
            </div>
        </div>
    </div>
</div>