<nav>
    <div class="shade">
        <ul>
            <li><a href="{{site.baseurl}}#welcome"> Welcome </a></li>
            <li><a href="{{site.baseurl}}#about"> About </a></li>
            <li><a href="{{site.baseurl}}#pictures"> Pictures </a></li>
            <li><a href="{{site.baseurl}}#post"> Post </a></li>
            <li><a href="{{site.baseurl}}#contact"> Contact </a></li>
            <li><a href="{{site.baseurl}}#documents"> Documents </a></li>
            <li><a href="{{site.baseurl}}#legal"> Legal Notice </a></li>
        </ul>
    </div>
</nav>