<div id="pictures"> </div>
<div class="section pictures">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Pictures </h2>
                <div class="line"> </div>
                <p>TODO</p>

                <!-- LightWidget WIDGET -->
                <script src="//lightwidget.com/widgets/lightwidget.js"></script>
                <iframe src="//lightwidget.com/widgets/5055dd0b1f3f54ff8c9791d912f6fdb8.html" scrolling="no" allowtransparency="true"
                    class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

</div>
</div>
</div>
</div>