<div id="pictures"> </div>
<div class="section pictures">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Pictures </h2>
                <div class="line"> </div>
                <p>TODO</p>

                <!-- SnapWidget -->
                <iframe src="https://snapwidget.com/embed/311426" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1215px; height:405px"></iframe>

</div>
</div>
</div>
</div>