<div id="pictures"> </div>
<div class="section pictures">
    <div class="grid">
        <div class="col sixty">
            <div class="module">
                <h2> Pictures </h2>
                <div class="line"> </div>
                <p>TODO</p>
                <div class="galleria">
                    <img src="images/margot_1.jpg">
                    <img src="images/margot_2.jpg">
                    <img src="images/margot_3.jpg">
                    <img src="images/margot_4.jpg">
                    <img src="images/margot_5.jpg">
                    <img src="images/margot_6.jpg">
                    <img src="images/me_1.jpg">
                    <img src="images/me_2.jpg">
                </div>
            </div>
        </div>
    </div>
</div>